<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Data for {{ symbol }}</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Stock Data for {{ symbol.upper() }}</h1>
    
    <div>
        <img src="{{ url_for('static', filename=plot_url) }}" alt="Stock Price Chart">
    </div>

    <div>
        {{ data|safe }}
    </div>
    <br>
    <a href="{{ url_for('main.index') }}">Search for another stock</a>
</body>
</html>
